.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}